# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# Unix-style newlines with a newline ending every file
[*]
# Non-configurable Prettier behaviors
charset = utf-8
insert_final_newline = true

# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true

# Configurable Prettier behaviors
# (change these if your Prettier config differs)
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 120

# Applies to all Markdown files
[*.md]
trim_trailing_whitespace = false

[*.tsv]
indent_style = tab

[*.xaml]
indent_size = 4

# JSON files
[*.json]
indent_size = 2

[*.{html,htm}]
charset  = utf-8
indent_style = space
indent_size  = 4
quote_type = double

# Matches multiple files with brace expansion notation
[*.{js}]
charset = utf-8
indent_style = space
indent_size = 2
quote_type = single

[*.{ts,jsx,tsx}]
charset = utf-8
indent_style = space
indent_size = 2
quote_type = single

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
